log:
  level: DEBUG

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: true

api:
  dashboard: true
  insecure: true

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

experimental:
  # Enable the local plugin using the module name as in README
  localPlugins:
    xrealip-fixer:
      moduleName: github.com/ski-company/traefik-xrealip-fixer
  # plugins:
  #   xrealip-fixer:
  #     moduleName: github.com/Ski-Company/traefik-xrealip-fixer
  #     version: v1.0.0